.form-register-user {
    margin-top: 3%;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    max-width: max-content;
    
}

.div-register-user {
    width: 31.6%;
}

.label-register-user {
    width: 100% !important;
    height: 100px;
}
