#root {
    height: 100vh;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: 0px solid white;
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}
