.modalBackground{
    z-index: 2;
    position: absolute;
    top: 0%;
    background: gray;
    opacity: 40%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-todo{
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer{
    z-index: 3;
    background: white;
    width: 430px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1%;
    border-radius: 20px;
}

.title{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.body{
    margin-top: 10%;
    display: flex;  
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: gray;
}